* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(223, 213, 208);
}

.container {
    display: flex;
    width: 100%;
}

.header {
    width: 100%;
    height: 150px;
    background-color: rgb(56, 21, 0);
    align-content: center;
    text-align: center;
}

.titulo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75px;
    color: rgb(223, 213, 208)
}

form {
    margin-top: auto;
    width: 35%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(223, 213, 208);
    padding: 20px;
    border-right: 1px solid black;
    min-height: calc(100vh - 150px);

    display: flex;
    align-content: flex-start;
    flex-direction: column;
}

.caixa {
        width: 100%;
        background-color: rgb(235, 226, 221);
        padding: 8px;
        margin-bottom: 8px;
        border: 1px solid #000000;
        border-radius: 5px;
        box-sizing: border-box;
    }

.caixa:focus {
    border-color:  blue;
    outline: none;
}

 button[type="submit"] {
    width: 100%;
    padding: 8px;
    background-color: green;
    color: rgb(223, 213, 208);
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-top: 8px;
    margin-bottom: 4px;
    transition: 0.3s;
}

.button {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    
button[type="submit"]:hover {
    background-color: darkgreen;
    cursor: pointer;
}

#lista {
    width: 50%;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

#lista h2 {
    margin-bottom: 15px;
}

#lista ul li {
    margin-bottom: 10px;
}

#lista ul {
    list-style: none;
    padding: 0;
}

#lista ul li {
    background-color: rgb(235, 226, 221);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-left: 5px solid rgb(56, 21, 0);
    display: flex;
    flex-direction: column;
}

.acoes {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.btn {
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 5px;
    font-size: 14px;
    color: white;
    transition: 0.3s;
}

.btn.editar {
    background-color: #007bff;
}

.btn.editar:hover {
    background-color: #0056b3;
}

.btn.remover {
    background-color: #dc3545;
}

.btn.remover:hover {
    background-color: #a71d2a;
}